body {
	font-family: 'Archivo', sans-serif;
}

li{
	display:inline-block;
	padding:20px;
	color:#ffffff;
	
}

nav{
	background-color: #222931;
	position: relative;
	top:40px;
	margin:0 auto;
   width: 950px;

}

a{
	color:#ffffff;
	text-decoration: none;
	margin: 0 auto;

}

a:hover{
background-color: #ffe718;
padding:20px;
color:black;
}

span{
	color:yellow;
}

.item1{
	margin:0 auto;
	width:960px;
}

.item2>img{
	width: 100%;
}
.item3{
	margin-left:50px;
	display: inline-block;
}

.item3:hover{
	filter: brightness(50%);
}

.item3>.overlay>p{
  position: absolute;
 bottom:100px;
}
.item4{
	position: static;
	display:inline-block;
}
.item4:hover{
	filter: brightness(50%);
}

.item5{
	position: static;
	display: inline-block;
}
.item5:hover{
	filter: brightness(50%);
}

.item6{
	display: inline-block;

}
.item6>img {
	width: 100%;
}
					
.text1{
	background-color: #ffe718;
	position: relative;
	bottom: 60px
	padding:5px;
	font-size: 22px;
	margin:50px;
}

.text7{
position: relative;
top:50px;
left:70px;
}

h2{
display: inline-block;
background-color: black;
color:white;
	font-size: 14px;
	width:100px;
	padding:20px;
	position: relative;
	left:900px;
	bottom:90px;
}

h2:hover{
	background-color: white;
	color:black;

}

.uitklap-menu{
	display:none;
list-style-type: none;
padding: 0px;
}

.uitklap-menu>li{
border:50px black;
	width: 50px;

}
.uitklap-item:hover{
	color:#222931;
	background-color:#ffe718;
}
.uitklap-item:hover> .uitklap-menu{
	display:block;
	position: absolute;
	top:55px;
    width: 150px;
	background-color: #222931;

}

.uitklap-item{
	position: relative;
}



.fa-toolbox{
		background-color: yellow;
	position: relative;
	bottom:100px;
	left:280px;
	padding:30px;
	width: 300px;
}

.fa-envelope{
background-color: yellow;
	position: relative;
	bottom:110px;
	left:250px;
	padding:30px;
	width: 300px;

}

.footer1{
	position: relative;
	bottom:260px;
	left:200px;
	padding:30px;
	margin:10px;

}

.footer2{
		position: relative;
	bottom:290px;
	left:400px;
	padding:30px;
	margin:10px;
}

.footer3{
		position: relative;
	bottom:300px;
	left:350px;
	padding:30px;
	margin:10px;
}
.footer4{
	height:220px;
	width: 200px;
	margin:0px;

}
.footer5{
	position: relative;
	bottom:0px;

}

.footer6{
position: relative;
bottom: 0px;
}

.text2{
	position: relative;
right:1000px;
top:70px;

}

.footer7{
	position: relative;
	left:200px;
}

.footer>h1{
	position: relative;
	right: 450px;
}

.text3{
	position: relative;
	top:20px;
	right:450px;
	font-size:10px;
	max-width: 300px;
}

.footer8{
	position: relative;
	bottom: 300px;
	left:600px;
}

.fa-mobile-alt{
	position: relative;
}

.span{
	font-size: 14px;
	position: relative;
	left:570px;
}

.text4{
	position: relative;
	top:40px;
left: 150px;
font-size:10px;
}
.text5{
	font-size: 15px;
}


.info{
	position: relative;
}

#tooltip{
	opacity: 1;
	visibility: visible;


}

.knoppen{
	width:1000px;
	margin:0 auto;
}
.knoppen > div{
	width:250px;
	margin:25px;
	display:inline-block;
	background-color:yellow;
}

.knoppen > div > div{
	width:60%;
	display:inline-block;
}
.knoppen > div > i{
	width:30%;
	display:inline-block;
	padding:10px;
}